<h1>List</h1>
<h3><strong><%= @list.name %></strong></h4>
<%= link_to "+ Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>

<p>
<% @list.bookmarks.each do |bookmark| %>
<h5>
  <%= bookmark.comment %>
  <%= link_to(bookmark_path(bookmark), method: :delete, data: {confirm: "are you sure?"}) do %>
    <i class="fas fa-trash"></i>
  <% end %>
</h5>
<p>Movie details</p>
<ul class="list-group">
  <li class="list-group-item">title: <strong><%= bookmark.movie.title %></strong></li>
  <li class="list-group-item">overview: <%= bookmark.movie.overview %></li>
  <li class="list-group-item">rating: <%= bookmark.movie.rating %></li>
  <li class="list-group-item"><img src="<%= bookmark.movie.poster_url %>" alt="poster_url" width="300px"></li>
</ul>
<% end %>
</p>
<p><%= link_to "Back to list", lists_path, class: "btn btn-primary" %></p>
